.studiolinks{
  padding: 6vw;
    font-size: 5vw;
    font-family: helvetica;
    font-kerning: inherit;
    color:rgb(119, 165, 59);
}
a { text-decoration: none; color:rgb(119, 165, 59); }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover {
  text-decoration: underline;
}
